#pre-container,
#container2 {
  position: relative;
  display: none;
  align-items: center;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 8px;
  max-width: 450px;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease;
  margin-bottom: 10px;
}

#pre-container.visible,
#container2.visible {
  opacity: 1;
}

/* 文件加载时的占位符样式 */
.placeholder {
  position: relative;
  width: 100%;
  height: 30px;
  background-color: transparent;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #ccc;
}

/* 加载图标样式 */
.loading-icon {
  border: 4px solid rgba(0, 0, 0, .1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 5px;
  height: 5px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

/* 旋转动画 */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


#preview {
  display: none;
  width: 30px;
  height: 100%;
  object-fit: cover;
}

#fileIcon,
#fileIcon2 {
  font-size: 15px;
  display: none;
  display: flex;
  align-items: center;
}

#fileName,
#fileName2 {
  font-size: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#deleteMark {
  position: absolute;
  top: -10px;
  right: -8px;
  cursor: pointer;
  background-color: rgb(151, 149, 149);
  color: white;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  font-size: 12px;
}

#deleteMark:hover {
  background-color: rgb(18, 18, 18);
}

.progress-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  background-color: #e0e0e0;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-top: 3px;
  overflow: hidden;
  height: 3px;
}

.progress-bar {
  height: 100%;
  background-color: #4caf50;
  width: 0;
  border-radius: 3px;
  transition: width 0.4s ease;
}

#viewFile,
#viewFile2 {
  font-size: 10px;
  display: none;
  cursor: pointer;
}


/* 模态框样式 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}


.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  top: -10px;
  right: -10px;
  position: absolute;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}